.about-container{
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
}
.logo3{
    width: 500px;
}

.about-right p{
    color: grey;
    font-size: clamp(1rem, 2.5vw, 1.25rem);
    font-weight: 400;
}
.about-right h4{
    color: grey;
    font-size: clamp(1.5rem, 4vw, 2.5rem);
    font-weight: 400;
    margin-bottom: 20px;
}
@media (max-width:1050px) {
    .logo3{
        width: 400px;
    }
}
@media (max-width:750px) {
    .logo3{
        width: 200px;
    }
}
@media (max-width:500px) {
    .logo3{
        width: 100px;
    }
}