.verify{
    min-height: 60vh;
    display: grid;
}
.verify .spinner{
    width: 100px;
    height: 100px;
    place-self: center;
    border: 5px solid #bdbdbd;
    border-top-color: rgb(255, 145, 71);
    border-radius: 50%;
    animation: rotate 1s infinite;
}
.verify-message {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
}

.verify-message.success {
  color: green;
}

.verify-message.error {
  color: red;
}

@keyframes rotate {
    100%{
        transform: rotate(360deg);
    }
}